<!DOCTYPE html>
<html lang="ja">
    <header>
        <title>タイトルテスト</title>
    </header>
    <body>
        <div class="hogehoge" id="piyo">
            <p>ハローワールド</p>
        </div>
        <div>
            <p><input type="text" id="input"></p>
        </div>
        <div>
            <select id="select">
                <option value="メガドライブ">メガドライブ</option>
                <option value="セガサターン">セガサターン</option>
                <option value="テラドライブ">テラドライブ</option>
                <option value="ネオジオ">ネオジオ</option>
            </select>
        </div>
        <div>
            <a id="link" href="https://www.google.com">Google</a>へジャンプします。
        </div>
        <div>
            こんにちは<button class="helloButton" id="hello" onclick="ale()">button</button>さん
        </div>
        <script>
            function ale () {alert('hogehoge');}  
        </script>
    </body>
</html>